.jumbotron {
    padding: 1rem 1rem;
    margin-bottom: 2rem;
    background-color: rgb(7, 232, 248);
    border-radius: .3rem;  
  }

.slide{
    margin-top: 10px;
}

.slide img{
    height: 70vh;
    width: 60vh;
}

/* editar post*/

#main{
    width: 960px;

}
.main2{
    width: 600px;

}

.post{
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #999;
}
.post-title{
    color: rgb(12, 129, 150);

}

.post-titulo{
    margin-top: 12px;
}

.contener{
  width: 100%;
  padding-right: var(--bs-gutter-x, 14rem);
  padding-left: var(--bs-gutter-x, 14rem);
  margin-right: auto;
  margin-left: auto;
  background-color: rgba(177, 174, 174, 0.993);
}

.post-contenido{
    padding-right: var(--bs-gutter-x,15rem);
    margin-right: 100px;
}

.postt{
    padding-bottom: 20px;
    margin-bottom: 40px;
    border-bottom: 1px solid #999;
    margin-left: 278px;
}

.anun{
    width: 400px;
    background: #387dc2;
    padding: 50px;
    margin: auto;
    margin-top: 15px;
    border-radius: 4px;
    font-family: 'calibri';
    color: white;
    box-shadow: 7px 13px 37px #000;
}

.lab{
    width: 200px ;
    height: 200xp;
    margin-top: 20xp;
}

.start-25{
    left: 28%;
    height: 80%;
}


footer{
    
    background: rgb(230, 227, 227);
    margin: auto;
    border-radius: 0 0 20xp 20px;
    color: rgb(14, 13, 13);
    text-align: center;
}

.articulo1{
    width: 60%;
    
    padding: 10px;
    float: left;
    text-align: justify;
}
.articulo2{
    width: 40%;
    padding: 10px;
    background-color: rgb(144, 243, 114);
    float: right;
    height: auto;
}

.cenn{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.prime{
    background-color: rgb(69, 189, 119);
}

.forma{
    margin: 0 auto;
    width: 330px;
    background-color: white;
    padding: 15px;
    margin-top: 20px;
    border-radius: 4px;
}

.fiel{
    margin-top: 10px;
    width: 280px;
    
}
.fielfocus{
    margin-top: 10px;
    width: 150px;
}
.tamañobtn{
    width: 280px;
}

.espacio{
    border-spacing: 4px;

}

.dosw{
    text-align: justify;
}

.boxbox{
    width: 100%;
    height: 110vh;
    position:absolute;
    top: 30px;
    background: rgba(0, 0, 0, 0.8);
    display:inherit;
    justify-content: center;
    align-items: center;
}

.btn-close{
    width: 70px;
    height: 70px;
    background: #b30b0b;
    border: 3px solid #fff;
    border-radius: 100%;
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    padding-top: 12px;
    position: absolute;
    top: 20px;
    right: 20px;
}